html {
  height: 100%;
  width: 100%;
  background-color: blue;
}
img{
  width: 200px;
  height: 200px;
}
.image2{
  width : 500px;
  height: 300px;
}
a{
  color:red;
}
.shape{
  position: relative;
  left: 300px;
}
